<?php
/**
 * VcoZfBasePath - Zend Framework 2 basePath view helper wrapper.
 *
 * @category Module
 * @package  VcoZfBasePath
 * @author   Vahag Dudukgian (valeeum)
 * @license  http://opensource.org/licenses/MIT The MIT License (MIT)
 * @link     http://github.com/vcomedia/vco-zf-minify/
 */

namespace VcoZfBasePath;

return array(
    'VcoZfBasePath' => array(
        'cdn' => '',
        'enabled' => false,
        'cacheBusterBasePaths' => array(
            '/skin/',
            '/js/',
            '/scripts/',
            '/css/',
            '/stylesheets/',
            '/media/',
            '/uploads/',
            '/images/',
            '/img/',
            '/imgs/',
            '/cache/',
            '/fonts/'
        )
    )
);
